{ifset $flashes}
	<div id="infoMessages">
        {foreach $flashes as $flash}
			<div class="flash {$flash->type}">{$flash->message}</div>{/foreach}

	</div>
{/ifset}

<script>
  setTimeout(function(){
    $( "#infoMessages .flash" ).fadeOut( "slow", function() {
      $(this).remove();
    });
  },5000);
</script>

