<div id="infoMessages">
    {ifset $flashes}
		<div class="container-fluid" >
			<div class="col-xl-12 mb-4 mt-4">
                {foreach $flashes as $flash}
					<div class="flash {$flash->type}">{$flash->message}</div>{/foreach}
			</div>
		</div>
    {/ifset}
</div>


<script>
  $(function () {
    setTimeout(function () {
      $("#infoMessages .flash").fadeOut(800, function () {
        (this).remove();
      });
    }, 3000);
  });
</script>
