<script src="{$basePath}/js/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="{$basePath}/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="{$basePath}/js/scripts.js"></script>
<script src="{$basePath}/js/nette.ajax.js"></script>
