<link rel="stylesheet" media="screen" href="{$basePath}/css/bootstrap-style.css">
<link rel="stylesheet" media="screen" href="{$basePath}/css/style.css">
<script type="text/javascript" src="{$basePath}/js/all.min.js"></script>

