<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	<thead>
	<tr>
        {foreach $tableHeaderCaptions as $caption}
			<th>{$caption}</th>
        {/foreach}
	</tr>
	</thead>
	<tbody>
    {foreach $wifiAps as $wifiAp}
		<tr>
            {foreach $wifiAp as $data}
				<td>{$data}</td>
            {/foreach}
		</tr>
    {/foreach}
	</tbody>
</table>
