{block content}

<div id="layoutSidenav_content">
	<main>
		<div class="container-fluid">
			<div class="row mt-4">
				<div class="col-xl-12 mb-4">
                    {control uploadFileForm}
				</div>
			</div>
		</div>
	</main>
</div>
