
#ajax-spinner {        
    background-image: url('../images/spinner.gif');
    background-repeat:no-repeat;
    background-size:contain;
    z-index: 999999;
    display: none;
    border:none;
    position:absolute;  
    width:120px;
    height:120px;
}

.flash{
    text-align:center
}

a[href^="#error:"] {
    background: red;
    color: white;
}

.modalDisable{
    display:none;
}


.pagination{
    text-align:center;
    display: inline-block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.pagination ul{
    display:inline-block;
    width:auto;
}

.pagination ul > li{
    display:inline-block;
    padding: 0 2px;
    font-size: 100%;
    font-weight: bold;
}

#snippet--flashMessage{
}

#infoMessages{
    position:fixed;
    width:100%;
    left:0;
    text-align:center;
    z-index:99999999;
}

#infoMessages .flash{
padding:15px;
}

.flash{
    font-size:120%;
    word-wrap: break-word;
}

.flash.info{
    background-color: #b6c3f7b8;
}

.flash.error{
    background-color: rgba(247, 60, 58, 0.72);
}
