
#ajax-spinner {        
    background-image: url('../images/spinner.gif');
    background-repeat:no-repeat;
    background-size:contain;
    z-index: 999999;
    display: none;
    border:none;
    position:absolute;  
    width:120px;
    height:120px;
}

div.flash {
    color: black;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 5px;
    margin: 0;
    display:inline-block;
}

a[href^="#error:"] {
    background: red;
    color: white;
}

.modalDisable{
    display:none;
}


.pagination{
    text-align:center;
    display: inline-block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.pagination ul{
    display:inline-block;
    width:auto;
}

.pagination ul > li{
    display:inline-block;
}
