body {
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
    line-height: 1.5;
    color: #333;
    background: white;
}

h1 {
    color: #f9a356;
    font-weight:300;
    text-transform:uppercase;
}

#ajax-spinner {        
    background-image: url('../images/spinner.gif');
    background-repeat:no-repeat;
    background-size:contain;
    z-index: 999999;
    display: none;
    border:none;
    position:absolute;  
    width:120px;
    height:120px;
}

div.flash {
    color: black;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 5px;
    margin: 0px;
    display:inline-block;
}

a[href^="#error:"] {
    background: red;
    color: white;
}

a:not(.button):not(#startButton){
    color:#d87b02;
    transition: all .3s;
    text-decoration:none;
}

a:not(.button):not(#startButton):hover,
a:not(.button):not(#startButton):visited,
a:not(.button):not(#startButton):active{
    color:#d87b02;
}

form th, form td {
    vertical-align: top;
    font-weight: normal;
}

form .th {
    text-align: right;
}

form label, .label {
    font-weight: 300;
    font-size: 12px;
    display: block;
    color: black;
    margin-bottom:-2px;
}

form .error {
    color: #D00;
    font-weight: bold;
}

.content, .userWindow, .mainWindow{
    box-sizing:border-box;
    padding:5px;
}

.menu{
    position:fixed;
    width:0px;
    height:100%;
    box-sizing:border-box;
    background-color:rgb(20,20,20);
    overflow:hidden;
    padding:0px;
    transition: all .3s;    
    opacity:0;
    top:0px;
    left:0px;
    z-index:9999;
}

.menuItem a{
    color:white !important;
    text-decoration:none;
    text-transform:capitalize;
    transition: all .3s;
    width:100%;
    display:inline-block;
}

.menuItem{
    border-bottom:1px solid #000000;
    width:100%;
    padding:8px;
    box-sizing:border-box;
    transition: all .3s;
    position:relative;
}
.menuItem:hover{
    background-color:#d87b02;
}

.menuPicture{
    display:inline-block;
    position:absolute;
    right:2px;
    height:40px;
    width:40px;
    margin:0px;
    padding:0px;
    top:0px;
    background-position: center center;
    background-repeat:no-repeat;
    background-size:70%;
    transition: background-size .2s;
}
li:hover .menuPicture{
    background-size:90%;
}



#startButton{
    display:inline-block;
    color:white;
    padding:8px;
    transition:color .3s;
}

#startButton:hover{
    color:#f97018;
    cursor:pointer;
}

/*#startButton:hover .menu{*/
    /*opacity:1;*/
    /*width:190px;*/
/*}*/

.leftMenu{       
    width:100%;
}

.subMenu{
    padding-left:10px;
}

.mainPanel{
    display:inline-block;
    position:fixed;
    width:100%;
    border:none;
    height: 40px;
    box-sizing:border-box;
    z-index:100;
    background-color:rgb(20,20,20);
}

.mainWindow{
    position:absolute;
    width:100%;
    right:0px;
    top:40px;
}

.userWindow{
    width:100%;
    position:relative;
    text-align:right;
}

.content{
    margin-top:10px;
    width:100%!important;
    position:relative;
}

#infoMessages{
    display:inline-block;
    width:100%;
    position:absolute;
    top: 0px;
    left: 0px;
    text-align:center;
    z-index:99999;    
}

.modalDisable{
    display:none;
}

.windowTopMenu{
    display:inline-block;
    overflow: hidden;
    height:30px;    
    margin-bottom:5px;
    margin-top:-2px;
    border-bottom:1px solid rgb(150,150,150);    
    width: 100%;    
}

.windowTopMenu div ul{
    transition: height .5s;
    position:absolute;
    background-color:white;
    padding:0px;    
    overflow:hidden;
    height:0px;
    border:none;
}

.windowTopMenu div{
    display:inline-block;
    width:auto;
    float:left;
    margin-right:15px;
    z-index:10;
    position:absolute;
}

.windowTopMenu div:hover ul{
    height:auto;
    border:1px solid rgb(150,150,150);
}
.windowTopMenu ul li{
    padding:0px 10px 0px 15px;
}

.windowTopMenu ul li a{
    text-transform:capitalize;
    text-decoration: none;
    color:black;
}

.windowTopMenu ul li:hover{
    background-color:#f9a356;
}

.windowTopMenu ul li a:hover,
.windowTopMenu ul li a:active,
.windowTopMenu ul li a:visited{
    color:black;
}

.windowTopMenu ul li span{
    color:grey;
}

.pointer{
    cursor:pointer;
}

.windowTopMenu .navigation{
    font-size:100%;
    float:right;
    margin-right: 0px;
}

.windowTopMenu .navigation a{
    text-decoration: none;
    border: 1px solid black;
    padding: 1px 35px 1px 35px;    
    margin-bottom:2px;
}

input, textarea, select {        
    text-align:left;
    resize: none;
    border:1px solid rgb(150,150,150);
    background-color: white;
    box-sizing: border-box;
    padding: 2px;
    font-size:90%;
}

input[type="submit"],.button{
    background-color:#f9a356;
    padding: 5px 14px 5px 14px;
    color:white;
    border:1px solid #f9a356;
    border-bottom:2px solid #f9a356;
    transition: all .3s;
    text-transform:uppercase;
    text-decoration:none;
    font-size:13px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    font-weight:bold;
    box-sizing:border-box;
    outline:0;
    display:inline-block;
    line-height:1.5;
}

input[type="submit"]:hover,
.button:hover{
    cursor:pointer;
    background-color:#f9a356;
    border-bottom:2px solid #f97018;
    text-decoration:none;
}

#hledat{
    float:right;
}

fieldset.fieldset{
    padding: 10px;
    background-color: white;
    border: 1px solid #e1e1e1;

    display:inline-block;
    position:relative;
    width:100%;
    box-sizing: border-box;
}

input[type=text],input[type=password], select, textarea{
    height:32px;
    border:1px solid #b7b7b7;

    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0)!important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0)!important;
    margin:2px;
    width:100%;
    box-sizing:border-box;
    transition: border .5s;
    font-size: 13px!important;
    color: #d87b02;
    margin-left:0px!important;
    margin-bottom:8px;
    padding-left:8px;
}

textarea{
    height:148px;
}

input[type=text]:hover,
input[type=password]:hover,
.chosen-single:hover,
textarea:hover
{
    border-bottom:1px solid #f97018;
}

#hledat input{
    background-image: url("../images/icon/system-search.png");
    background-repeat:no-repeat;
    background-position: right center;
    padding:5px!important;
    box-sizing:border-box;
}

.pagination{
    text-align:center;
    display: inline-block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.pagination ul{
    display:inline-block;
    width:auto;
}

.pagination ul > li{
    display:inline-block;
}

.loginPageForm table {
    display:inline-block;
}

.loginPageForm, .loginPageForm form {
    text-align:center;
    width:100%;
}

.loginPageForm table th {
    display: none;
}

.loginPageForm input{
    text-align:center;
}

.loginPageForm table tr:nth-child(3) td{
height:40px;
padding-top:10px;
}

.tableOne {
    display:inline-block;
    border: 1px solid rgba(0,0,0,0);
    text-align: left;
    border-collapse: collapse;
    margin-top:0px;
    width:100%;
}
.tableOne td, .tableOne th {
    border: 1px solid rgba(0,0,0,0);
    padding: 5px 8px;
}
.tableOne tbody td {
    font-size: 13px;
}

.tableOne tbody{
    width: 100%;
}
.tableOne tr {
    //background: #fff6b1;
}
.tableOne tr:nth-child(even) {
    background: #f5eca7;
}
.tableOne thead {
    background: #f9a356;
    border-bottom: 5px solid #FFFFFF;
}
.tableOne thead th {
    font-size: 13px;
    font-weight: 300;
    color: #FFFFFF;
    text-align: left;
    border-left: 2px solid #FFFFFF;
    text-transform: uppercase;
    padding-left:8px;
}
.tableOne thead th:first-child {
    border-left: none;
}

.tableOne tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background: #D0E4F5;
    border-top: 3px solid #444444;
}
.tableOne tfoot td {
    font-size: 14px;

}

strong{
    font-weight: bold!important;
}

.edit{
    width:50%;
    float:left!important;

    display:inline-block;
    padding:10px;
    float:left;
    box-sizing: border-box;
}

form fieldset.edit{
    padding-bottom:15px;
}


.avatar{
    height: 146px;
    width: 146px;
    border: 1px solid #b7b7b7;
    display: inline-block;
    margin-bottom: 23px;
    margin-top: 18px;

}

.tableTwo{
width:100%;
}

.newItem{
    margin-bottom:25px;
}

a img{
    opacity:1;
    transition: opacity .3s;
}
a img:hover{
    opacity: .8;
}

.settings{ background-image: url('../images/icon/application-x-executable.png'); }
#dashboard, .dashboardIcon{ background-image: url('../images/icon/winTodo.png'); }
#sklad, .stockIcon{ background-image: url('../images/icon/winStore.png'); }
#admin, .permissionIcon{background-image: url("../images/icon/winPermision.png");}
#project, .projectIcon{background-image: url("../images/icon/winEvent.png");}

.currentPresenter{
    display:inline-block;
    position: relative;
    width: auto;
    color: #f9a356;
    font-weight: 300;
    text-transform: uppercase;
    padding:8px;
    text-align:center;
}

a.menuLink{
    background-repeat: no-repeat;
    padding-left: 30px;
    background-size: auto 80%;
    text-decoration: none;
    background-position: left center;
    transition:color .3s;
}

.dashboardItem{
    display:inline-block;
    /*max-height: 170px;*/
    width:31%;
    text-decoration:none;
    color:#000;
    background-color: #fffabe;;
    padding:1em;
    -moz-box-shadow:2px 2px 5px rgba(33,33,33,1);
    -webkit-box-shadow: 2px 2px 5px rgba(33,33,33,.7);
    box-shadow: 2px 2px 5px rgba(33,33,33,.7);
    margin: 10px;
    position:relative;    
    clear:top;
    box-sizing:border-box;
    overflow:auto;
    padding-bottom:10px;
}

.dashboardItem:nth-child(5n){
    clear:both;
}

.dashboardItem .footer{
    width:auto;
    display:inline-block;
    text-align:right;
    height:20px;
    position:absolute;
    top:5px;
    right:10px;
}

.dashboardItem .footer a img{
    height:18px;
}

.dashboardItemContent{
    display:inline-block;
    /*height: 150px;*/
    font-size: 14px;
    text-align:left;
    color: #212121;
    overflow: hidden;
    width:100%;
    min-height:164px;
}


.dashboardItemContent h1{
    margin-bottom:2px;
    margin-top:10px;
}

.dashboardItemContent > span{
    display:inline-block;
    position:relative;
    overflow:hidden;
    width:100%;
}
.pripinak{
    display:inline-block;
    position:absolute;
    width:100%;
    text-align:center;
    height:30px;
    top:0;
    left:0;
}

.pripinak img{
    display:inline-block;
    width:30px;
    height:30px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.tableValue{
    display:inline-block;
    width:100%;
}

#choosePicture{
    display:inline-block;
    position:absolute;
    top:0;left:0;
    height:100%;
    width:100%;
    border: none;
    background-color: rgba(60,60,60,.8);
    z-index:999;
    text-align:center;
}

.choosePictureContainer{
    display:inline-block;
    position:relative;
    border:2px solid black;
    background-color: white;
    margin-top:30px;
    width:80%;
    height:80%;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);     
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);        
}

.smallThumbnail{
    max-width:80px;
}

#imageList{
    overflow: auto;
    display: inline-block;
    height: 75%;
    margin-top: 10px;
}